html {
  font-size: 62.5%; // 1rem is 10px
  background-color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "montserrat";
}

body {
  overflow-x: hidden;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  padding-top: 100px;
}

.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
}

.loader {
  font-size: 4em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
